body{
    background-color: #f7f7f9;
}
nav{
    display: flex;
    background-color: rgb(241, 120, 48);
    border-radius: 5px;

    list-style-type: none;
    margin: 0;
    padding: 0;

    text-align: center;

    align-items: center;

    font-size: larger;
    font-family: Arial;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
header hr{
   background-color:  #f07404;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.body{
    box-sizing: border-box;
}
form{
    text-align: center;
    border-radius: 25px;
    box-sizing:content-box;
    padding:0;
    display: compact;
}
table{
    margin-left: auto;
    margin-right: auto;
}

form #offreDemande{
    margin-top: 20px;
    margin-bottom: 25px;
}
form #mail{
    margin-bottom: 25px;
}
form #IDLivre{
    margin-bottom: 25px;
}
form #prix{
    margin-bottom: 25px;
}
form #submit{
    margin-bottom: 25px;
}
form #etat {
    margin-bottom: 25px;
}
form #image{
    margin-bottom: 25px;
}
form #description{
    margin-bottom: 25px;
}
footer{
    box-sizing: content-box;
    position:relative;
    bottom: 0;
    width: 99%;
}
footer hr {
    background-color:  #f07404;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#demande{
    height: 30px;
    width: 500px;
    outline: none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    border: none;
}

#offre,demande{
    height: 30px;
    width: 500px;
    outline: none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    border: none;
}

#divSearch{
    width: 560px;
    border: solid grey 2px;
    margin-left: auto;
    text-align: center;
    border-radius: 8px;
    background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 6px #fff;
}


.reset{
    display: flex;
}

#rechercheOffre {
    background: #6A6F75;
    border-width: 0px;
    padding: 8px 0px;
    width: 10%;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #fff;
    text-shadow: 0 1px 0 #555;
    margin-right: auto;
    margin-left: 3px;
    margin-top: 1px;
    border-radius: 8px;
}
#rechercheDemande {
    background: #6A6F75;
    border-width: 0px;
    padding: 8px 0px;
    width: 10%;
    cursor: pointer;
    font: bold 12px Arial, Helvetica;
    color: #fff;
    text-shadow: 0 1px 0 #555;
    margin-right: auto;
    margin-left: 3px;
    margin-top: 1px;
    border-radius: 8px;
}

#rechercheOffre:hover {
    background: #4f5356;
}
#rechercheDemande:hover {
    background: #4f5356;
}
#rechercheOffre:active {
    background: #5b5d60;
    outline: none;
}
#rechercheDemande:active {
    background: #5b5d60;
    outline: none;
}
#rechercheOffre::-moz-focus-inner {
    border: 0;
}
#rechercheDemande::-moz-focus-inner {
    border: 0;
}
table{
    border-collapse:collapse;
    margin-top: 5px;
    text-align: left;
    border: none;
}

thead th{
    color: black;
    font-size: larger;
    border:none;
    min-width: 17ch;

}
tbody tr{
    border: none;
}
tbody tr td{
    background-color: #e6e6e6;
    border-style: solid;
    border-width: 4px 0px;
    border-color: #f7f7f9;
    border-right: none;
    border-left: none;
    height: 110px;


}

tbody td{
    width: auto;
}

.center{
    text-align: center;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    text-align: start;
    margin-left: 40px;
    margin-right: 40px;
}

legend {
    padding: 0px 3px;
    font-weight: bold;
}

label {
    width: 110px;
    display: inline-block;
    margin-left: auto;
    text-align: center;
}
a{
 color: black;
}

input:focus {
    background: #eaeaea;
}

input{
    margin-left: auto;
    width: 249px;
}

textarea {
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 120, 48);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

.droite{
    margin-left: auto;
}